*.o
writer
Test_*_Runner.c
build/
crosstool-ng
aesd-build
.vscode/
test.sh.log
actions-runner/
# Prevent Linux kernel & busybox repositories from getting re-downloaded over and over
assignments/assignment3/
